body {
	margin: 0;
	font-family: sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	background-color: #4252AF;
	color: #FFF;
	padding: 10px 30px;
	box-shadow: 0 0 10px 0 #000;
	align-items: center;
	margin-bottom: 50px;
}
header ul {
	display: flex;
	list-style: none;
}
header li {
	margin: 0 10px;
}

input {
	display: none;
}
.datatable {
	width: 80%;
	margin: auto;
	text-align: center;
}
.content {
	border: 3px solid #000;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}
.row {
	display: flex;
	border-bottom: 1px solid #000;
}
.row.head {
	font-weight: bold;
	border: 3px solid #000;
	border-radius: 5px;
	margin-bottom: 20px;
}
.row.head label {
	display: block;
	cursor: pointer;
}
.row div {
	padding: 10px 0;
	flex: 1;
	border-right: 1px solid #000;
}
.row.head div:not(:first-child) {
	cursor: pointer;
}

#reverse:checked ~ .datatable .reverse, #type:checked ~ .datatable .type {
	background-color: #B8F5FD;
}
#reverse:checked ~ .datatable .content {
	flex-direction: column-reverse;
}
#type:checked ~.datatable .movie {
	order: 1;
}
#type:checked ~.datatable .music {
	order: 2;
}
#type:checked ~.datatable .tech {
	order: 3;
}

footer {
	background-color: #000;
	color: #FFF;
	display: flex;
	align-items: baseline;
	position: absolute;
	bottom: 0;
}
footer div {
	flex: 1;
	padding: 20px;
}